﻿@model CuentasPorPagar.Models.FormaDePago

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>FormaDePago</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.idFormaDePago)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idFormaDePago)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.descripcion)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id=Model.idFormaDePago  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
