﻿@model ProyectoContabilidad.Models.Cuenta

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Cuenta</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Naturaleza1.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Naturaleza1.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.padre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.padre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.estado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estado)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.GrupoCuenta.grupo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.GrupoCuenta.grupo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TipoCuenta.tipo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TipoCuenta.tipo)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.num_cuenta }) |
    @Html.ActionLink("Back to List", "Index")
</p>
