﻿@model ProyectoContabilidad.Models.Cuenta

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Cuenta</legend>

        @Html.HiddenFor(model => model.num_cuenta)

        <div class="editor-label">
            @Html.LabelFor(model => model.nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombre)
            @Html.ValidationMessageFor(model => model.nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.naturaleza, "Naturaleza1")
        </div>
        <div class="editor-field">
            @Html.DropDownList("naturaleza", String.Empty)
            @Html.ValidationMessageFor(model => model.naturaleza)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.padre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.padre)
            @Html.ValidationMessageFor(model => model.padre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.estado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.estado)
            @Html.ValidationMessageFor(model => model.estado)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.grupo, "GrupoCuenta")
        </div>
        <div class="editor-field">
            @Html.DropDownList("grupo", String.Empty)
            @Html.ValidationMessageFor(model => model.grupo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tipo, "TipoCuenta")
        </div>
        <div class="editor-field">
            @Html.DropDownList("tipo", String.Empty)
            @Html.ValidationMessageFor(model => model.tipo)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
