﻿@model IEnumerable<ProyectoContabilidad.Models.Cuenta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Naturaleza1.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.padre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GrupoCuenta.grupo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoCuenta.tipo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Naturaleza1.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.padre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GrupoCuenta.grupo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoCuenta.tipo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.num_cuenta }) |
            @Html.ActionLink("Details", "Details", new { id=item.num_cuenta }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.num_cuenta })
        </td>
    </tr>
}

</table>
