﻿@model ProyectoContabilidad.Models.Asiento

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Asiento</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cod_periodo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cod_periodo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.fecha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fecha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.concepto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.concepto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Usuario.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Usuario.nombre)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
