﻿@model CuentasPorPagar.Models.Proveedor

@{
    ViewBag.Title = "SeleccionProveedor";
}


@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Seleccione al proveedor al cual desea registrar el pago</legend>

        <div class="editor-label">
            Nombre del Proveedor
        </div>
        <div class="editor-field">
            @Html.DropDownList("idFormaDePago", String.Empty)
            @Html.ValidationMessageFor(model => model.idFormaDePago)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>