﻿@model ProyectoContabilidad.Models.Detalle_asiento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Detalle_asiento</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.debe)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.debe)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.haber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.haber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Periodo1.cod_periodo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Periodo1.cod_periodo)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
