﻿@model ProyectoContabilidad.Models.Detalle_asiento

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Detalle_asiento</legend>

        @Html.HiddenFor(model => model.num_asiento)

        @Html.HiddenFor(model => model.num_cuenta)

        <div class="editor-label">
            @Html.LabelFor(model => model.debe)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.debe)
            @Html.ValidationMessageFor(model => model.debe)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.haber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.haber)
            @Html.ValidationMessageFor(model => model.haber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.periodo, "Periodo1")
        </div>
        <div class="editor-field">
            @Html.DropDownList("periodo", String.Empty)
            @Html.ValidationMessageFor(model => model.periodo)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
