﻿<%@ Page Title="About Us" Language="C#" MasterPageFile="~/Site.master" AutoEventWireup="true"
    CodeBehind="Contacto.aspx.cs" Inherits="Compras.About" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">
    <h2>
        Contacto
    </h2>
    <p>
    <i>contacto</i> <br />
(Del lat. contactus). <br />
1. m. Acción y efecto de tocarse dos o más cosas.<br />
2. m. Conexión entre dos partes de un circuito eléctrico.<br />
3. m. Artificio para establecer esta conexión.<br />
4. m. enlace (‖ persona que tiene relación con otras, especialmente dentro de una organización).<br />
5. m. Relación o trato que se establece entre dos o más personas o entidades.<br />
6. m. Fotogr. Impresión positiva, obtenida por contacto, de un negativo fotográfico<br />. U. m. en pl.
    </p>
</asp:Content>
