﻿@model IEnumerable<CuentasPorPagar.Models.Proveedor>
@{
    ViewBag.Title = "Cuentas por Pagar";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <section>
                <table id="cuentas-por-pagar" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Proveedor</th>
                            <th>Concepto</th>
                            <th>Monto</th>
                            <th>Fecha de Pago</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var proveedor in Model) {
                            foreach(var deuda in proveedor.Deudas){
                               <tr>
                                    <td>
                                        @Html.ActionLink(proveedor.Nombre, "Detalles", new { id=proveedor.idProveedor})
                                    </td>
                                   <td>@Html.DisplayFor(modelItem =>deuda.Detalle)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem =>deuda.cantidadDeuda)
                                    </td>
                                   <td>@Html.DisplayFor(modelItem =>deuda.fechaFin)</td>
                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
            </section>
        </div>
    </section>
}
