﻿@model CuentasPorPagar.Models.Proveedor

@{
    ViewBag.Title = "Crear Nuevo Proveedor";
}
<script>


</script>

<h2>Crear Proveedor</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Proveedor</legend>

        @if (ViewData["Error"] != null) {
        <div class="alert alert-error">
             @ViewData["Error"]
         </div>
            }


        <div class="editor-label">
            @Html.DisplayNameFor(model => model.idProveedor)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.idProveedor,new {@Value = ViewBag.nuevoid, @readonly = "readonly", @class="input-small"})
           
            @Html.ValidationMessageFor(model => model.idProveedor, "", new { @class = "alert alert-error" })
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "alert alert-error" })
        </div>

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.Direccion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Direccion)
            @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "alert alert-error" })
        </div>

        <div class="editor-label">
           @Html.DisplayNameFor(model => model.telefono)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.telefono)
            @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "alert alert-error" })
        </div>

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.correo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.correo)
            @Html.ValidationMessageFor(model => model.correo, "", new { @class = "alert alert-error" })
        </div>

        <p>
            <input type="submit" class="btn btn-primary" value="Crear" />
        </p>
    </fieldset>
}

<div>
    <a href="@Url.Action("Index","Proveedor")" class="btn btn btn-info">Regresar a la Lista</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
