﻿@model IEnumerable<CuentasPorPagar.Models.Proveedor>

@{
    ViewBag.Title = "Lista de Proveedores";
}

<h2>Lista de Proveedores</h2>


<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idProveedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.correo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idProveedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correo)
        </td>
        <td>
                  <div class="btn-group">
                    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
                        Acción
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                     
                            <li>@Html.ActionLink("Editar", "Edit", new {  id=item.idProveedor }) </li>
                            <li>@Html.ActionLink("Detalles", "Details", new { id=item.idProveedor }) </li>
                            <li class="divider"></li>
                            <li>@Html.ActionLink("Borrar", "Delete", new { id=item.idProveedor })</li>
                               
               
                    </ul>
                </div>
            
            
        </td>
    </tr>
}

</table>

<p>
    <a href="@Url.Action("Create","Proveedor")" class="btn btn-primary">Crear Proveedor</a>
</p>
