﻿<!DOCTYPE html>
<html lang="es">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Scripts.Render("~/bundles/modernizr")
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/jquery");
        @Scripts.Render("~/bundles/jqueryui")
     
           <style>
      body {
        padding-top: 50px; 
              }
    </style>
        <script>
            $(function () {
                //var x = $("input[type='datetime']");
                var x = $("#fechaFin");
                x.datepicker();
            });
        </script>

    </head>
    <body>
        <header>
        
         <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="@Url.Action("Index","Home")">Cuentas Por Pagar</a>
          <div class="nav-collapse collapse">
            <ul class="nav">

                            <li class="dropdown">
		                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Movimientos<b class="caret"></b></a>
		                        <ul class="dropdown-menu">
		                          <li><a href="@Url.Action("Create","Deuda")">Nueva Deuda</a></li>
		                          <li><a href="@Url.Action("Create","Pago")">Nuevo Pago</a></li>
		                          <li><a href="#">Accion3</a></li>
		                        </ul>
		                      </li>

                             <li class="dropdown">
		                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Proveedores<b class="caret"></b></a>
		                        <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Index","Proveedor")">Ver todos</a></li>
		                          <li><a href="@Url.Action("Create","Proveedor")">Crear</a></li>

		                        </ul>
		                      </li>


                          <li class="dropdown">
		                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reportes<b class="caret"></b></a>
		                        <ul class="dropdown-menu">
		                          <li><a href="#">Accion1</a></li>
		                          <li><a href="#">Accion2</a></li>
		                          <li><a href="#">Accion3</a></li>
		                        </ul>
		                      </li>


                
                          <li class="dropdown">
		                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Otros Catalogos<b class="caret"></b></a>
		                        <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Index","TipoDoc")">Tipos de Documentos</a></li>
                                     <li><a href="@Url.Action("Index","FormaPago")">Formas de Pago</a></li>
		                        </ul>
		                      </li>
               

            </ul>
               @Html.Partial("_LoginPartial")
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    </header>

    <div class="container">
        @if(IsSectionDefined("featured")){
        <div class="hero-unit">
            @RenderSection("featured", required: false)
        </div>
        }

          @RenderBody()
      

    </div> 

     
@*         @Scripts.Render("~/bundles/jquery")   *@
         @Scripts.Render("~/Scripts/Bootstrap")

        @RenderSection("scripts", required: false)
         
        
       
       
    </body>
</html>
