﻿@model ProyectoContabilidad.Models.Periodo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Periodo</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.mes)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mes)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.año)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.año)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.cod_periodo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
