﻿@model IEnumerable<ProyectoContabilidad.Models.Periodo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.mes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.año)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.mes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.año)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cod_periodo }) |
            @Html.ActionLink("Details", "Details", new { id=item.cod_periodo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cod_periodo })
        </td>
    </tr>
}

</table>
