﻿@model CuentasPorPagar.Models.tipoDocumento

@{
    ViewBag.Title = "Create";
}

<h2>Nuevo tipo de documento</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Tipo de Documento</legend>

 

        <div class="editor-label">
            Nombre
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombre)
            @Html.ValidationMessageFor(model => model.nombre)
        </div>

        <p>
            <input type="submit" value="Guardar" class="btn btn-success" />
        </p>
    </fieldset>
}

<div>
  <a href="@Url.Action("Index","TipoDoc")" class="btn btn-primary" >Regresar a la Lista</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
