﻿@model CuentasPorPagar.Models.tipoDocumento

@{
    ViewBag.Title = "Details";
}

<h2>Detalle del Tipo de Documento</h2>

<fieldset>
    <legend>Tipo de Documento</legend>
      <table class="table table-striped span3">
          <tr>
              <td>
                Id del Tipo de Documento
              </td>
              <td>
                @Html.DisplayFor(model => model.idTipoDocumento)
              </td>
          </tr>
           <tr>
              <td>
                Nombre
              </td>
              <td>
                 @Html.DisplayFor(model => model.nombre)
              </td>
          </tr>
      </table>

</fieldset>
<p>
     <a href="@Url.Action("Edit", "TipoDoc", new { id=Model.idTipoDocumento })" class="btn btn-primary">Editar </a>
     |
    <a href="@Url.Action("Index","TipoDoc")" class="btn btn-primary" >Regresar a la Lista</a>
</p>
