﻿@model CuentasPorPagar.Models.tipoDocumento

@{
    ViewBag.Title = "Edit";
}

<h2>Editar Tipo de Documento </h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Tipo de Documento</legend>

        <div class="editor-label">
           Id del Tipo de Documento
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.idTipoDocumento, new { @readonly = "readonly", @class="input-small"})
            @Html.ValidationMessageFor(model => model.idTipoDocumento)
        </div>

        <div class="editor-label">
           Nombre
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombre)
            @Html.ValidationMessageFor(model => model.nombre)
        </div>

        <p>
            <input type="submit" class="btn btn-primary" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    <a href="@Url.Action("Index","TipoDoc")" class="btn btn-success">Regresar a la lista</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
